<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>List</title>
    <link rel="stylesheet" href="../../css/view.css">

</head>

<body>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <svg id="icon-chevron" viewBox="0 0 1024 1024">
                <path class="path1" d="M316 334l196 196 196-196 60 60-256 256-256-256z"></path>
            </svg>
        </defs>
    </svg>

    <h1><strong>총 지원자 : <%= count %>명</strong></h1>

    <% for(var i = 0; i < data.length; i++){ %>
    <ul class="dash-list">
        <li id="dash-item--1" class="dash-item dash-item--published">
            <div class="dash-item__header">
                <h3 class="dash-item__title"><a href="#"><%= data[i].name %></a></h3>

                <ul id="dash-item__nav--1" class="dash-item__nav">
                    <li class="dash-item__nav__item"><a href=/detail/<%= data[i].id %>>Preview </a> </li> <li
                            class="dash-item__nav__item"><a href=/detail/delete/<%= data[i].id %>>Delete </a> </li>
                                </ul> </div> <div class="dash-item__content">

                                <ul class="quiz-results">
                                    <span class="quiz-results__number quiz-results__number--views">학번 :
                                        <%= data[i].number %></span>
                                </ul>
            </div>
            <div class="dash-item__content">
                <ul class="quiz-results">
                    <span class="quiz-results__number quiz-results__number--views">전화번호 :
                        <%= data[i].phone_number %></span>
                </ul>
            </div>
            <div class="dash-item__content">
                <ul class="quiz-results">
                    <span class="quiz-results__number quiz-results__number--views">이메일 : <%= data[i].email %></span>
                </ul>
            </div>
        </li>
    </ul>
    <% } %>


    <p><a class="twitter__username-link" href="https://github.com/stupids-lol/Sunrin_Interview"
            target="_top">@TomAto-monKEy</a></p>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="../../javascript/view.js"></script>

</body>

</html>